@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
	--shadow: rgba(50, 50, 50, 0.6);
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}
body {
	font-family: var(--system-ui);
	height: 100vh;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.prompt_container > .prompt {
	min-width: 10ex !important;
}
input {
	background: whitesmoke !important;
	border: 1px solid #7a7a7a;
	border-radius: 4px;
	padding: 0 0.5em;
}
#theme-toggle {
	&:is([data-state="dark"]) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-sun'%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath d='M12 2v2'/%3E%3Cpath d='M12 20v2'/%3E%3Cpath d='m4.93 4.93 1.41 1.41'/%3E%3Cpath d='m17.66 17.66 1.41 1.41'/%3E%3Cpath d='M2 12h2'/%3E%3Cpath d='M20 12h2'/%3E%3Cpath d='m6.34 17.66-1.41 1.41'/%3E%3Cpath d='m19.07 4.93-1.41 1.41'/%3E%3C/svg%3E");
	}
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-moon'%3E%3Cpath d='M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 0.7rem;
	outline: none;
	&:hover {
		filter: brightness(0.9);
	}
}
button,
.btn {
	color: black !important;
	border-radius: 4px !important;
	transition: all 150ms ease allow-discrete;
	border: 1px outset #e3e3e3 !important;
	&:hover {
		backdrop-filter: brightness(0.8);
	}
}
.btn-warning,
.btn-danger {
	background-color: hsl(from crimson h s l / 0.8) !important;
	color: white !important;
}
.container-fluid {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	& .navbar-collapse {
		flex: auto;
	}
}

@media (width < 760px) {
	#theme-toggle {
		display: none;
	}
}
.close {
	padding-inline: 0.3em 0.3em !important;
}
#header {
	& div {
		border: none !important;
	}
	background-color: ghostwhite !important;
	border-radius: 0 0 5px 5px !important;
	padding: 0.3rem 0.25rem;
	box-shadow: 0px 1px 3px 0px var(--shadow) !important;
	-webkit-box-shadow: 0px 1px 3px 0px var(--shadow) !important;
	outline: 1px dotted #a1a1a1;
}
.kb kbd {
	background: transparent !important;
	border-radius: 4px !important;
	border: 1.5px dotted steelblue !important;
	padding-inline: 0.5em;
	color: black !important;
	letter-spacing: 1.2q !important;
}
.modal-backdrop {
	background-color: #fff !important;
}
.modal-content {
	-webkit-box-shadow: 0px 5px 10px 6px var(--shadow) !important;
	box-shadow: 0px 5px 10px 6px var(--shadow) !important;
}
#notebook-container {
	border-radius: 4px !important;
	box-shadow: 0px 1px 4px 2px var(--shadow) !important;
	-webkit-box-shadow: 0px 1px 4px 2px var(--shadow) !important;
}
li.dropdown:not(.dropdown-submenu) {
	border-bottom: 1.5px solid darkgray;
	margin-left: 0.6rem !important;

	&:hover {
		backdrop-filter: brightness(0.9) !important;
	}
}
.dropdown-menu {
	box-shadow: 0px 1px 3px 0px var(--shadow) !important;
	-webkit-box-shadow: 0px 1px 3px 0px var(--shadow) !important;
}
.container {
	width: 99% !important;
}
code,
kbd,
pre,
samp,
.CodeMirror {
	font-family: "JetBrains Mono", monospace;
	font-size-adjust: ch-width from-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 550 !important;
}
.dark {
	--shadow: rgba(255, 255, 255, 0.9);
	filter: invert(0.9) hue-rotate(180deg);
	& .btn,
	button {
		border-style: inset !important;
	}
}
